*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  width: 100%;
}

/* HEADER */
header{
  background-color: rgb(122, 6, 133);
  display: flex;
  height: 10vh;
  color: white;
  font-family: 'Balsamiq Sans', cursive;
  align-items: center;
  padding-left: 15%;
  gap: 5%;
}
/* FIN HEADER */


/* NAV */
nav{
  padding: 3vh;
}

ul{
  list-style-type: none;/*sacamos puntitos*/
  display: flex;
  justify-content: center;/*los ubicamos arriba*/
}
  
ul li{
  margin: 0 2.5vh;/*Los separamos un poquito*/
}
 
li > a{
  text-decoration:none ; /*sacamos subrayado*/
  text-transform: uppercase;
  font-size: 3.2vh;
  font-family: 'Roboto Condensed', sans-serif;
  color: black;
  cursor: pointer;
  transition: color 0.5s ease-in-out;
}

 li > a:hover{
  color: rgb(132, 11, 156);
}
/* FIN NAV */


/* MAIN */
.contenedor{
  position: relative;
  text-align: center;
}

.centrado{
  position: absolute;
  top: 38%;
  left: 38%;
  font-size: 4vh;
  font-family: 'Roboto Condensed', sans-serif;
}

.centrado > h3{
  font-family: 'Rampart One', cursive;
  color: rgba(0, 0, 0, 0.986);
  margin-bottom: 2vh;
}

.centrado p{
  font-size: 3.5vh;
}

#palabraAmor{
  color: red;
}

.principal{
  display: flex;
  flex-direction: column;
  padding: 5vh 33vh 5vh 33vh;
}

.descripcionYFoto{
  display: flex;
  gap: 15vh;
}

.descripcion{
  width: 100%;
}

.descripcion > h2{
  font-size: 4vh;
  font-family: 'Roboto Condensed', sans-serif;
  color: black;
  margin-bottom: 5vh;
}

.descripcion > p, .descripcion > b{
  margin-top: 5vh;
  font-family: 'Abel', sans-serif;
  font-size: 3vh;
}

.imgDescripcion{
  margin-top: 9vh;
}
/* FIN MAIN */


/* FOOTER */
.contacto-general{
    display: flex;
    padding: 0px 350px;
    justify-content: space-between;
  }
  
  .contacto{
    display: flex;
    gap: 10px;
  }
  
  .texto-contactanos{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2vh;
  }
  
  .contacto-icon{
    font-size: 40px;
  }
  
  footer{
    background-color: rgb(122, 6, 133);
    color: white;
    display: flex;
    justify-content: center;
    padding: 15px;
    margin-top: 50px;
    font-family: 'Roboto Condensed', sans-serif;
    flex-direction: column;
    gap: 20px;
  }
/*FIN FOOTER*/